.home-header {
  /* background: #6ab2e4; */
  display: flex;
  position: relative;
  /* border-bottom: 1px solid white; */
}
.home-logo {
  font-family: "Rajdhani", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 700;
  display: flex;
  margin-left: 20px;
  /* padding-top: 20px; */
  /* padding-bottom: 60px; */
}
/* .home-logo h3 {
  font-size: 30px;
  margin-top: 18px;
  margin-left: 10px;
} */
.home-logo img {
  width: 70px;
  margin-top: -11px;
  margin-right: 7px;
  filter: brightness(3) ;
}

.home-container {
  width: 1000px;
  /* background-color: rgb(20, 4, 37); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* margin-top: -40px; */
  position: absolute;
  font-family: "Rajdhani", sans-serif;
  /* color: rgb(255, 255, 255); */
}

.Account1 {
  background-color: #050c2c; 
  padding: 20px 0px;
  display: flex;
}
.account-name-id {
  /* margin-left: auto; */
  /* margin-right: -220px; */
  text-align: center;
}
.accountMenu {
  margin-left: auto;
  margin-right: 45px;
  /* margin-top: 10px; */
  cursor: pointer;
}
.Account1 small {
  color: #7e7e7e;
}
.Account1 h5 {
  font-size: 15px;
}

.balance-container{
  background-color: #ffffff;
  padding-top: 40px;
  color: #7e7e7e;
}
.assetSendDepositSwap_container{
  background-color: #6ab2e4;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  color: #ffffff;
  padding: 20px 0px;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  /* margin-top: 30px; */
  margin-bottom: 20px;
}
.ethereum-icon {
  border: 0.5px solid gainsboro;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.ethereum-icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}
.eth-balance p {
  color: #7e7e7e;
}

.buy-send-swap-container {
  border-bottom: 0.01px solid rgb(248, 248, 248);
}
.buy,
.send,
.swap {
  margin: 10px 20px;
  background-color: #050c2c59;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}
.icons {
  font-size: 17px;
  color: white;
  margin-top: 10px;
}
.buy-send-swap p {
  color: #ffffff;
}

.activity-title {
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
  color: #7e7e7e;
  cursor: pointer;
  margin-left: 20px;
}
.assets-title {
  border-bottom: 2px solid #6ab2e4;
  color: #6ab2e4;
}
.assets-activity-container {
  box-shadow: 0 2px 1px -1px rgb(199, 199, 199);
}
.activity-transactions-container {
  box-shadow: 0 1px 1px -1px rgb(199, 199, 199);
  height: 180px;
  text-align: center;
  overflow-y: scroll;
}
.activity-transactions-container::-webkit-scrollbar {
  display: none;
}

.transactions-content p {
  color: rgb(170, 170, 170);
  margin-top: 20px;
}
.add-token-container {
  height: 100px;
}
#addTokenBtn {
  border: 0.5px solid #6ab2e4;
  padding: 10px 60px;
  border-radius: 30px;
  margin: auto;
  background-color: #fff;
  color: #6ab2e4;
  cursor: pointer;
  font-size: 14px;
}

.NetworksForm-container {
  /* margin-left: 25px; */
}
#Networks {
  width: 180px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 10px;
  margin-top: 2px;
  outline: none;
  /* color: #ffffff; */
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  color: #fff;
}
#Networks h6{
  margin-top: 6px;
}
#Networks option {
  border: none;
}
.walletProfileIcon {
  margin-right: -25px;
}
.profile-icon img {
  width: 45px;
  margin-top: 37px;
  margin-left: 20px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 2px;
  cursor: pointer;
}
